<form method="post" action="/repo/data/update">
   <input type="text" value="<%=user %>" name="repo[user]" />
   <input type="text" value="<%=repo %>" name="repo[repo]" />
   <input type="text" value="<%=branch %>" name="repo[branch]" />
   <input type="submit" value="Submit" />
</form>