<div class="list-item" data-sha="<%=item.sha %>">
	<h3>
		<a class="list-item-trigger" href="/article/<%=item.sha %>"><%= item.title %></a>
	</h3>
	<p>
		Click().to().get.the.content.of(this file).
	</p>
</div>