<form class="bl-form" method="post">
	<p>
		<label>User</label>
		<input type="text" name="user" />
	</p>
	
	<p>
		<label>Repo</label>
		<input type="text" name="repo" />
	</p>
	
	<p>
		<label>sha</label>
		<input type="text" name="sha" />
	</p>
	
	<p>
		<label>path</label>
		<input type="text" name="path" />
	</p>
	
	<input type="submit" />
	
</form>

<h1>We did it?</h1>
<div class="bl-placeholder"><%= data %></div>

